body
{
    background-color: #1c1c1c;
    color: #1c1c1c;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#header
{
    background: #cf1c46;
    box-shadow: 0px 2px 20px 0px rgba(190, 190, 190, 0.5);
    color: white;
    font-size: 50px;
    font-family: raleway;
    font-weight: bold;
    margin: 0cm;
    padding: 0.5cm 0 0.5cm 2cm;
    border-radius: 15px;
}

#header #logo
{
    width: 40px;
    vertical-align: middle;
}


#header #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container
{
    width: 70%;
    padding: 1cm;
    text-align: left;
    border: 1px solid #ffffff;
    margin: 0 auto;
}
#container h1
{
    font-size: 20px;
}
#container h2
{
    font-size: 40px;
}

#post
{
   padding: 10px;
}

#footer
{
    background: #777;
    color: white;
    text-align: center;
    padding: 8px;
}