body
{
    background-color: #b3d4e4;
    color: #1c1c1c;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#header
{
    background: #cf1c46;
    box-shadow: 0px 0px 10px 0px rgba(190, 190, 190, 0.5);
    color: white;
    font-size: 50px;
    font-family: raleway;
    font-weight: bold;
    margin: 0cm;
    padding: 0.5cm;
    border-radius: 15px;
}

#header #tagline
{
    padding: 0 0 0 1cm;
    font-weight: normal;
    font-size: 0.8cm
}

#container
{
    width: 70%;
    padding: 1cm;
    text-align: left;
    border: 1px solid #ffffff;
    margin: 0 auto;
}
#container h1
{
    font-size: 20px;
}
#container h2
{
    font-size: 40px;
}

#post
{
   margin: 30px;
}